.section__banner {
    display: flex;
    justify-content: space-between;
}
.cataloge-block {
    min-width: 0;
    min-height: 0;
    width: 19%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding-top: 23px;
    padding-left: 24px;
    padding-bottom: 30px;
    background: #FFFFFF;
    border: 2px solid #EFF2F6;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -3px;
}
.cataloge-block__link {
    color: $t;
}

.banner-slider__item {
   max-width: 100%;
}
.banner-slider__photo {
    width: 100%;
}
.banner-slider .slick-track{
    width: 80%;
}
.banner-slider{
    width: 80%;
    margin-top: 20px;
    position: relative;
}
.slick-dots {
    position: absolute;
    left: 50%;
    bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.slick-dots li{
    list-style: none;
}
.slick-dots li button{
    font-size: 0;
    border-radius: 100%;
    width: 6px;
    height: 6px;
    background: #dfdfdf;
    margin: 0 4px;
}
.slick-dots li.slick-active button{
    width: 8px;
    height: 8px;
    background: $b;
    opacity: 0.7;
}
.section__proj{
    background: $g;
    padding-top: 60px;
    padding-bottom: 40px;
}